{"openapi":"3.0.2","info":{"title":"RESO Common Schema Open API Specification","description":"This service is located at [https://api.reso.org/](https://api.reso.org/)","version":"1.7"},"servers":[{"url":"https://api.reso.org"}],"tags":[{"name":"Property"},{"name":"Member"},{"name":"Office"},{"name":"Contacts"},{"name":"Media"},{"name":"HistoryTransactional"},{"name":"ContactListings"},{"name":"InternetTracking"},{"name":"SavedSearch"},{"name":"OpenHouse"},{"name":"Prospecting"},{"name":"Queue"},{"name":"Rules"},{"name":"Teams"},{"name":"Showing"},{"name":"TeamMembers"},{"name":"OUID"},{"name":"ContactListingNotes"},{"name":"OtherPhone"},{"name":"PropertyGreenVerification"},{"name":"PropertyPowerProduction"},{"name":"PropertyRooms"},{"name":"PropertyUnitTypes"},{"name":"SocialMedia"},{"name":"Field"},{"name":"Lookup"}],"paths":{"/Property":{"get":{"summary":"Get entities from Property","tags":["Property"],"parameters":[{"$ref":"#/components/parameters/top"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/search"},{"name":"$filter","description":"Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/count"},{"name":"$orderby","description":"Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["AboveGradeFinishedArea","AboveGradeFinishedArea desc","AboveGradeFinishedAreaSource","AboveGradeFinishedAreaSource desc","AboveGradeFinishedAreaUnits","AboveGradeFinishedAreaUnits desc","AccessCode","AccessCode desc","AccessibilityFeatures","AccessibilityFeatures desc","AdditionalParcelsDescription","AdditionalParcelsDescription desc","AdditionalParcelsYN","AdditionalParcelsYN desc","AnchorsCoTenants","AnchorsCoTenants desc","Appliances","Appliances desc","ArchitecturalStyle","ArchitecturalStyle desc","AssociationAmenities","AssociationAmenities desc","AssociationFee","AssociationFee desc","AssociationFee2","AssociationFee2 desc","AssociationFee2Frequency","AssociationFee2Frequency desc","AssociationFeeFrequency","AssociationFeeFrequency desc","AssociationFeeIncludes","AssociationFeeIncludes desc","AssociationName","AssociationName desc","AssociationName2","AssociationName2 desc","AssociationPhone","AssociationPhone desc","AssociationPhone2","AssociationPhone2 desc","AssociationYN","AssociationYN desc","AttachedGarageYN","AttachedGarageYN desc","AvailabilityDate","AvailabilityDate desc","Basement","Basement desc","BasementYN","BasementYN desc","BathroomsFull","BathroomsFull desc","BathroomsHalf","BathroomsHalf desc","BathroomsOneQuarter","BathroomsOneQuarter desc","BathroomsPartial","BathroomsPartial desc","BathroomsThreeQuarter","BathroomsThreeQuarter desc","BathroomsTotalInteger","BathroomsTotalInteger desc","BedroomsPossible","BedroomsPossible desc","BedroomsTotal","BedroomsTotal desc","BelowGradeFinishedArea","BelowGradeFinishedArea desc","BelowGradeFinishedAreaSource","BelowGradeFinishedAreaSource desc","BelowGradeFinishedAreaUnits","BelowGradeFinishedAreaUnits desc","BodyType","BodyType desc","BuilderModel","BuilderModel desc","BuilderName","BuilderName desc","BuildingAreaSource","BuildingAreaSource desc","BuildingAreaTotal","BuildingAreaTotal desc","BuildingAreaUnits","BuildingAreaUnits desc","BuildingFeatures","BuildingFeatures desc","BuildingName","BuildingName desc","BusinessName","BusinessName desc","BusinessType","BusinessType desc","BuyerAgencyCompensation","BuyerAgencyCompensation desc","BuyerAgencyCompensationType","BuyerAgencyCompensationType desc","BuyerAgentAOR","BuyerAgentAOR desc","BuyerAgentDesignation","BuyerAgentDesignation desc","BuyerAgentDirectPhone","BuyerAgentDirectPhone desc","BuyerAgentEmail","BuyerAgentEmail desc","BuyerAgentFax","BuyerAgentFax desc","BuyerAgentFirstName","BuyerAgentFirstName desc","BuyerAgentFullName","BuyerAgentFullName desc","BuyerAgentHomePhone","BuyerAgentHomePhone desc","BuyerAgentKey","BuyerAgentKey desc","BuyerAgentKeyNumeric","BuyerAgentKeyNumeric desc","BuyerAgentLastName","BuyerAgentLastName desc","BuyerAgentMiddleName","BuyerAgentMiddleName desc","BuyerAgentMlsId","BuyerAgentMlsId desc","BuyerAgentMobilePhone","BuyerAgentMobilePhone desc","BuyerAgentNamePrefix","BuyerAgentNamePrefix desc","BuyerAgentNameSuffix","BuyerAgentNameSuffix desc","BuyerAgentOfficePhone","BuyerAgentOfficePhone desc","BuyerAgentOfficePhoneExt","BuyerAgentOfficePhoneExt desc","BuyerAgentPager","BuyerAgentPager desc","BuyerAgentPreferredPhone","BuyerAgentPreferredPhone desc","BuyerAgentPreferredPhoneExt","BuyerAgentPreferredPhoneExt desc","BuyerAgentStateLicense","BuyerAgentStateLicense desc","BuyerAgentTollFreePhone","BuyerAgentTollFreePhone desc","BuyerAgentURL","BuyerAgentURL desc","BuyerAgentVoiceMail","BuyerAgentVoiceMail desc","BuyerAgentVoiceMailExt","BuyerAgentVoiceMailExt desc","BuyerFinancing","BuyerFinancing desc","BuyerOfficeAOR","BuyerOfficeAOR desc","BuyerOfficeEmail","BuyerOfficeEmail desc","BuyerOfficeFax","BuyerOfficeFax desc","BuyerOfficeKey","BuyerOfficeKey desc","BuyerOfficeKeyNumeric","BuyerOfficeKeyNumeric desc","BuyerOfficeMlsId","BuyerOfficeMlsId desc","BuyerOfficeName","BuyerOfficeName desc","BuyerOfficePhone","BuyerOfficePhone desc","BuyerOfficePhoneExt","BuyerOfficePhoneExt desc","BuyerOfficeURL","BuyerOfficeURL desc","BuyerTeamKey","BuyerTeamKey desc","BuyerTeamKeyNumeric","BuyerTeamKeyNumeric desc","BuyerTeamName","BuyerTeamName desc","CableTvExpense","CableTvExpense desc","CancellationDate","CancellationDate desc","CapRate","CapRate desc","CarportSpaces","CarportSpaces desc","CarportYN","CarportYN desc","CarrierRoute","CarrierRoute desc","City","City desc","CityRegion","CityRegion desc","CloseDate","CloseDate desc","ClosePrice","ClosePrice desc","CoBuyerAgentAOR","CoBuyerAgentAOR desc","CoBuyerAgentDesignation","CoBuyerAgentDesignation desc","CoBuyerAgentDirectPhone","CoBuyerAgentDirectPhone desc","CoBuyerAgentEmail","CoBuyerAgentEmail desc","CoBuyerAgentFax","CoBuyerAgentFax desc","CoBuyerAgentFirstName","CoBuyerAgentFirstName desc","CoBuyerAgentFullName","CoBuyerAgentFullName desc","CoBuyerAgentHomePhone","CoBuyerAgentHomePhone desc","CoBuyerAgentKey","CoBuyerAgentKey desc","CoBuyerAgentKeyNumeric","CoBuyerAgentKeyNumeric desc","CoBuyerAgentLastName","CoBuyerAgentLastName desc","CoBuyerAgentMiddleName","CoBuyerAgentMiddleName desc","CoBuyerAgentMlsId","CoBuyerAgentMlsId desc","CoBuyerAgentMobilePhone","CoBuyerAgentMobilePhone desc","CoBuyerAgentNamePrefix","CoBuyerAgentNamePrefix desc","CoBuyerAgentNameSuffix","CoBuyerAgentNameSuffix desc","CoBuyerAgentOfficePhone","CoBuyerAgentOfficePhone desc","CoBuyerAgentOfficePhoneExt","CoBuyerAgentOfficePhoneExt desc","CoBuyerAgentPager","CoBuyerAgentPager desc","CoBuyerAgentPreferredPhone","CoBuyerAgentPreferredPhone desc","CoBuyerAgentPreferredPhoneExt","CoBuyerAgentPreferredPhoneExt desc","CoBuyerAgentStateLicense","CoBuyerAgentStateLicense desc","CoBuyerAgentTollFreePhone","CoBuyerAgentTollFreePhone desc","CoBuyerAgentURL","CoBuyerAgentURL desc","CoBuyerAgentVoiceMail","CoBuyerAgentVoiceMail desc","CoBuyerAgentVoiceMailExt","CoBuyerAgentVoiceMailExt desc","CoBuyerOfficeAOR","CoBuyerOfficeAOR desc","CoBuyerOfficeEmail","CoBuyerOfficeEmail desc","CoBuyerOfficeFax","CoBuyerOfficeFax desc","CoBuyerOfficeKey","CoBuyerOfficeKey desc","CoBuyerOfficeKeyNumeric","CoBuyerOfficeKeyNumeric desc","CoBuyerOfficeMlsId","CoBuyerOfficeMlsId desc","CoBuyerOfficeName","CoBuyerOfficeName desc","CoBuyerOfficePhone","CoBuyerOfficePhone desc","CoBuyerOfficePhoneExt","CoBuyerOfficePhoneExt desc","CoBuyerOfficeURL","CoBuyerOfficeURL desc","CoListAgentAOR","CoListAgentAOR desc","CoListAgentDesignation","CoListAgentDesignation desc","CoListAgentDirectPhone","CoListAgentDirectPhone desc","CoListAgentEmail","CoListAgentEmail desc","CoListAgentFax","CoListAgentFax desc","CoListAgentFirstName","CoListAgentFirstName desc","CoListAgentFullName","CoListAgentFullName desc","CoListAgentHomePhone","CoListAgentHomePhone desc","CoListAgentKey","CoListAgentKey desc","CoListAgentKeyNumeric","CoListAgentKeyNumeric desc","CoListAgentLastName","CoListAgentLastName desc","CoListAgentMiddleName","CoListAgentMiddleName desc","CoListAgentMlsId","CoListAgentMlsId desc","CoListAgentMobilePhone","CoListAgentMobilePhone desc","CoListAgentNamePrefix","CoListAgentNamePrefix desc","CoListAgentNameSuffix","CoListAgentNameSuffix desc","CoListAgentOfficePhone","CoListAgentOfficePhone desc","CoListAgentOfficePhoneExt","CoListAgentOfficePhoneExt desc","CoListAgentPager","CoListAgentPager desc","CoListAgentPreferredPhone","CoListAgentPreferredPhone desc","CoListAgentPreferredPhoneExt","CoListAgentPreferredPhoneExt desc","CoListAgentStateLicense","CoListAgentStateLicense desc","CoListAgentTollFreePhone","CoListAgentTollFreePhone desc","CoListAgentURL","CoListAgentURL desc","CoListAgentVoiceMail","CoListAgentVoiceMail desc","CoListAgentVoiceMailExt","CoListAgentVoiceMailExt desc","CoListOfficeAOR","CoListOfficeAOR desc","CoListOfficeEmail","CoListOfficeEmail desc","CoListOfficeFax","CoListOfficeFax desc","CoListOfficeKey","CoListOfficeKey desc","CoListOfficeKeyNumeric","CoListOfficeKeyNumeric desc","CoListOfficeMlsId","CoListOfficeMlsId desc","CoListOfficeName","CoListOfficeName desc","CoListOfficePhone","CoListOfficePhone desc","CoListOfficePhoneExt","CoListOfficePhoneExt desc","CoListOfficeURL","CoListOfficeURL desc","CommonInterest","CommonInterest desc","CommonWalls","CommonWalls desc","CommunityFeatures","CommunityFeatures desc","Concessions","Concessions desc","ConcessionsAmount","ConcessionsAmount desc","ConcessionsComments","ConcessionsComments desc","ConstructionMaterials","ConstructionMaterials desc","ContinentRegion","ContinentRegion desc","Contingency","Contingency desc","ContingentDate","ContingentDate desc","ContractStatusChangeDate","ContractStatusChangeDate desc","Cooling","Cooling desc","CoolingYN","CoolingYN desc","CopyrightNotice","CopyrightNotice desc","Country","Country desc","CountryRegion","CountryRegion desc","CountyOrParish","CountyOrParish desc","CoveredSpaces","CoveredSpaces desc","CropsIncludedYN","CropsIncludedYN desc","CrossStreet","CrossStreet desc","CultivatedArea","CultivatedArea desc","CumulativeDaysOnMarket","CumulativeDaysOnMarket desc","CurrentFinancing","CurrentFinancing desc","CurrentUse","CurrentUse desc","DOH1","DOH1 desc","DOH2","DOH2 desc","DOH3","DOH3 desc","DaysOnMarket","DaysOnMarket desc","DevelopmentStatus","DevelopmentStatus desc","DirectionFaces","DirectionFaces desc","Directions","Directions desc","Disclaimer","Disclaimer desc","Disclosures","Disclosures desc","DistanceToBusComments","DistanceToBusComments desc","DistanceToBusNumeric","DistanceToBusNumeric desc","DistanceToBusUnits","DistanceToBusUnits desc","DistanceToElectricComments","DistanceToElectricComments desc","DistanceToElectricNumeric","DistanceToElectricNumeric desc","DistanceToElectricUnits","DistanceToElectricUnits desc","DistanceToFreewayComments","DistanceToFreewayComments desc","DistanceToFreewayNumeric","DistanceToFreewayNumeric desc","DistanceToFreewayUnits","DistanceToFreewayUnits desc","DistanceToGasComments","DistanceToGasComments desc","DistanceToGasNumeric","DistanceToGasNumeric desc","DistanceToGasUnits","DistanceToGasUnits desc","DistanceToPhoneServiceComments","DistanceToPhoneServiceComments desc","DistanceToPhoneServiceNumeric","DistanceToPhoneServiceNumeric desc","DistanceToPhoneServiceUnits","DistanceToPhoneServiceUnits desc","DistanceToPlaceofWorshipComments","DistanceToPlaceofWorshipComments desc","DistanceToPlaceofWorshipNumeric","DistanceToPlaceofWorshipNumeric desc","DistanceToPlaceofWorshipUnits","DistanceToPlaceofWorshipUnits desc","DistanceToSchoolBusComments","DistanceToSchoolBusComments desc","DistanceToSchoolBusNumeric","DistanceToSchoolBusNumeric desc","DistanceToSchoolBusUnits","DistanceToSchoolBusUnits desc","DistanceToSchoolsComments","DistanceToSchoolsComments desc","DistanceToSchoolsNumeric","DistanceToSchoolsNumeric desc","DistanceToSchoolsUnits","DistanceToSchoolsUnits desc","DistanceToSewerComments","DistanceToSewerComments desc","DistanceToSewerNumeric","DistanceToSewerNumeric desc","DistanceToSewerUnits","DistanceToSewerUnits desc","DistanceToShoppingComments","DistanceToShoppingComments desc","DistanceToShoppingNumeric","DistanceToShoppingNumeric desc","DistanceToShoppingUnits","DistanceToShoppingUnits desc","DistanceToStreetComments","DistanceToStreetComments desc","DistanceToStreetNumeric","DistanceToStreetNumeric desc","DistanceToStreetUnits","DistanceToStreetUnits desc","DistanceToWaterComments","DistanceToWaterComments desc","DistanceToWaterNumeric","DistanceToWaterNumeric desc","DistanceToWaterUnits","DistanceToWaterUnits desc","DocumentsAvailable","DocumentsAvailable desc","DocumentsChangeTimestamp","DocumentsChangeTimestamp desc","DocumentsCount","DocumentsCount desc","DoorFeatures","DoorFeatures desc","DualVariableCompensationYN","DualVariableCompensationYN desc","Electric","Electric desc","ElectricExpense","ElectricExpense desc","ElectricOnPropertyYN","ElectricOnPropertyYN desc","ElementarySchool","ElementarySchool desc","ElementarySchoolDistrict","ElementarySchoolDistrict desc","Elevation","Elevation desc","ElevationUnits","ElevationUnits desc","EntryLevel","EntryLevel desc","EntryLocation","EntryLocation desc","Exclusions","Exclusions desc","ExistingLeaseType","ExistingLeaseType desc","ExpirationDate","ExpirationDate desc","ExteriorFeatures","ExteriorFeatures desc","FarmCreditServiceInclYN","FarmCreditServiceInclYN desc","FarmLandAreaSource","FarmLandAreaSource desc","FarmLandAreaUnits","FarmLandAreaUnits desc","Fencing","Fencing desc","FinancialDataSource","FinancialDataSource desc","FireplaceFeatures","FireplaceFeatures desc","FireplaceYN","FireplaceYN desc","FireplacesTotal","FireplacesTotal desc","Flooring","Flooring desc","FoundationArea","FoundationArea desc","FoundationDetails","FoundationDetails desc","FrontageLength","FrontageLength desc","FrontageType","FrontageType desc","FuelExpense","FuelExpense desc","Furnished","Furnished desc","FurnitureReplacementExpense","FurnitureReplacementExpense desc","GarageSpaces","GarageSpaces desc","GarageYN","GarageYN desc","GardenerExpense","GardenerExpense desc","GrazingPermitsBlmYN","GrazingPermitsBlmYN desc","GrazingPermitsForestServiceYN","GrazingPermitsForestServiceYN desc","GrazingPermitsPrivateYN","GrazingPermitsPrivateYN desc","GreenBuildingVerificationType","GreenBuildingVerificationType desc","GreenEnergyEfficient","GreenEnergyEfficient desc","GreenEnergyGeneration","GreenEnergyGeneration desc","GreenIndoorAirQuality","GreenIndoorAirQuality desc","GreenLocation","GreenLocation desc","GreenSustainability","GreenSustainability desc","GreenWaterConservation","GreenWaterConservation desc","GrossIncome","GrossIncome desc","GrossScheduledIncome","GrossScheduledIncome desc","HabitableResidenceYN","HabitableResidenceYN desc","Heating","Heating desc","HeatingYN","HeatingYN desc","HighSchool","HighSchool desc","HighSchoolDistrict","HighSchoolDistrict desc","HomeWarrantyYN","HomeWarrantyYN desc","HorseAmenities","HorseAmenities desc","HorseYN","HorseYN desc","HoursDaysOfOperation","HoursDaysOfOperation desc","HoursDaysOfOperationDescription","HoursDaysOfOperationDescription desc","Inclusions","Inclusions desc","IncomeIncludes","IncomeIncludes desc","InsuranceExpense","InsuranceExpense desc","InteriorFeatures","InteriorFeatures desc","InternetAddressDisplayYN","InternetAddressDisplayYN desc","InternetAutomatedValuationDisplayYN","InternetAutomatedValuationDisplayYN desc","InternetConsumerCommentYN","InternetConsumerCommentYN desc","InternetEntireListingDisplayYN","InternetEntireListingDisplayYN desc","IrrigationSource","IrrigationSource desc","IrrigationWaterRightsAcres","IrrigationWaterRightsAcres desc","IrrigationWaterRightsYN","IrrigationWaterRightsYN desc","LaborInformation","LaborInformation desc","LandLeaseAmount","LandLeaseAmount desc","LandLeaseAmountFrequency","LandLeaseAmountFrequency desc","LandLeaseExpirationDate","LandLeaseExpirationDate desc","LandLeaseYN","LandLeaseYN desc","Latitude","Latitude desc","LaundryFeatures","LaundryFeatures desc","LeasableArea","LeasableArea desc","LeasableAreaUnits","LeasableAreaUnits desc","LeaseAmount","LeaseAmount desc","LeaseAmountFrequency","LeaseAmountFrequency desc","LeaseAssignableYN","LeaseAssignableYN desc","LeaseConsideredYN","LeaseConsideredYN desc","LeaseExpiration","LeaseExpiration desc","LeaseRenewalCompensation","LeaseRenewalCompensation desc","LeaseRenewalOptionYN","LeaseRenewalOptionYN desc","LeaseTerm","LeaseTerm desc","Levels","Levels desc","License1","License1 desc","License2","License2 desc","License3","License3 desc","LicensesExpense","LicensesExpense desc","ListAOR","ListAOR desc","ListAgentAOR","ListAgentAOR desc","ListAgentDesignation","ListAgentDesignation desc","ListAgentDirectPhone","ListAgentDirectPhone desc","ListAgentEmail","ListAgentEmail desc","ListAgentFax","ListAgentFax desc","ListAgentFirstName","ListAgentFirstName desc","ListAgentFullName","ListAgentFullName desc","ListAgentHomePhone","ListAgentHomePhone desc","ListAgentKey","ListAgentKey desc","ListAgentKeyNumeric","ListAgentKeyNumeric desc","ListAgentLastName","ListAgentLastName desc","ListAgentMiddleName","ListAgentMiddleName desc","ListAgentMlsId","ListAgentMlsId desc","ListAgentMobilePhone","ListAgentMobilePhone desc","ListAgentNamePrefix","ListAgentNamePrefix desc","ListAgentNameSuffix","ListAgentNameSuffix desc","ListAgentOfficePhone","ListAgentOfficePhone desc","ListAgentOfficePhoneExt","ListAgentOfficePhoneExt desc","ListAgentPager","ListAgentPager desc","ListAgentPreferredPhone","ListAgentPreferredPhone desc","ListAgentPreferredPhoneExt","ListAgentPreferredPhoneExt desc","ListAgentStateLicense","ListAgentStateLicense desc","ListAgentTollFreePhone","ListAgentTollFreePhone desc","ListAgentURL","ListAgentURL desc","ListAgentVoiceMail","ListAgentVoiceMail desc","ListAgentVoiceMailExt","ListAgentVoiceMailExt desc","ListOfficeAOR","ListOfficeAOR desc","ListOfficeEmail","ListOfficeEmail desc","ListOfficeFax","ListOfficeFax desc","ListOfficeKey","ListOfficeKey desc","ListOfficeKeyNumeric","ListOfficeKeyNumeric desc","ListOfficeMlsId","ListOfficeMlsId desc","ListOfficeName","ListOfficeName desc","ListOfficePhone","ListOfficePhone desc","ListOfficePhoneExt","ListOfficePhoneExt desc","ListOfficeURL","ListOfficeURL desc","ListPrice","ListPrice desc","ListPriceLow","ListPriceLow desc","ListTeamKey","ListTeamKey desc","ListTeamKeyNumeric","ListTeamKeyNumeric desc","ListTeamName","ListTeamName desc","ListingAgreement","ListingAgreement desc","ListingContractDate","ListingContractDate desc","ListingId","ListingId desc","ListingKey","ListingKey desc","ListingKeyNumeric","ListingKeyNumeric desc","ListingService","ListingService desc","ListingTerms","ListingTerms desc","LivingArea","LivingArea desc","LivingAreaSource","LivingAreaSource desc","LivingAreaUnits","LivingAreaUnits desc","LockBoxLocation","LockBoxLocation desc","LockBoxSerialNumber","LockBoxSerialNumber desc","LockBoxType","LockBoxType desc","Longitude","Longitude desc","LotDimensionsSource","LotDimensionsSource desc","LotFeatures","LotFeatures desc","LotSizeAcres","LotSizeAcres desc","LotSizeArea","LotSizeArea desc","LotSizeDimensions","LotSizeDimensions desc","LotSizeSource","LotSizeSource desc","LotSizeSquareFeet","LotSizeSquareFeet desc","LotSizeUnits","LotSizeUnits desc","MLSAreaMajor","MLSAreaMajor desc","MLSAreaMinor","MLSAreaMinor desc","MainLevelBathrooms","MainLevelBathrooms desc","MainLevelBedrooms","MainLevelBedrooms desc","MaintenanceExpense","MaintenanceExpense desc","MajorChangeTimestamp","MajorChangeTimestamp desc","MajorChangeType","MajorChangeType desc","Make","Make desc","ManagerExpense","ManagerExpense desc","MapCoordinate","MapCoordinate desc","MapCoordinateSource","MapCoordinateSource desc","MapURL","MapURL desc","MiddleOrJuniorSchool","MiddleOrJuniorSchool desc","MiddleOrJuniorSchoolDistrict","MiddleOrJuniorSchoolDistrict desc","MlsStatus","MlsStatus desc","MobileDimUnits","MobileDimUnits desc","MobileHomeRemainsYN","MobileHomeRemainsYN desc","MobileLength","MobileLength desc","MobileWidth","MobileWidth desc","Model","Model desc","ModificationTimestamp","ModificationTimestamp desc","NetOperatingIncome","NetOperatingIncome desc","NewConstructionYN","NewConstructionYN desc","NewTaxesExpense","NewTaxesExpense desc","NumberOfBuildings","NumberOfBuildings desc","NumberOfFullTimeEmployees","NumberOfFullTimeEmployees desc","NumberOfLots","NumberOfLots desc","NumberOfPads","NumberOfPads desc","NumberOfPartTimeEmployees","NumberOfPartTimeEmployees desc","NumberOfSeparateElectricMeters","NumberOfSeparateElectricMeters desc","NumberOfSeparateGasMeters","NumberOfSeparateGasMeters desc","NumberOfSeparateWaterMeters","NumberOfSeparateWaterMeters desc","NumberOfUnitsInCommunity","NumberOfUnitsInCommunity desc","NumberOfUnitsLeased","NumberOfUnitsLeased desc","NumberOfUnitsMoMo","NumberOfUnitsMoMo desc","NumberOfUnitsTotal","NumberOfUnitsTotal desc","NumberOfUnitsVacant","NumberOfUnitsVacant desc","OccupantName","OccupantName desc","OccupantPhone","OccupantPhone desc","OccupantType","OccupantType desc","OffMarketDate","OffMarketDate desc","OffMarketTimestamp","OffMarketTimestamp desc","OnMarketDate","OnMarketDate desc","OnMarketTimestamp","OnMarketTimestamp desc","OpenParkingSpaces","OpenParkingSpaces desc","OpenParkingYN","OpenParkingYN desc","OperatingExpense","OperatingExpense desc","OperatingExpenseIncludes","OperatingExpenseIncludes desc","OriginalEntryTimestamp","OriginalEntryTimestamp desc","OriginalListPrice","OriginalListPrice desc","OriginatingSystemID","OriginatingSystemID desc","OriginatingSystemKey","OriginatingSystemKey desc","OriginatingSystemName","OriginatingSystemName desc","OtherEquipment","OtherEquipment desc","OtherExpense","OtherExpense desc","OtherParking","OtherParking desc","OtherStructures","OtherStructures desc","OwnerName","OwnerName desc","OwnerPays","OwnerPays desc","OwnerPhone","OwnerPhone desc","Ownership","Ownership desc","OwnershipType","OwnershipType desc","ParcelNumber","ParcelNumber desc","ParkManagerName","ParkManagerName desc","ParkManagerPhone","ParkManagerPhone desc","ParkName","ParkName desc","ParkingFeatures","ParkingFeatures desc","ParkingTotal","ParkingTotal desc","PastureArea","PastureArea desc","PatioAndPorchFeatures","PatioAndPorchFeatures desc","PendingTimestamp","PendingTimestamp desc","PestControlExpense","PestControlExpense desc","PetsAllowed","PetsAllowed desc","PhotosChangeTimestamp","PhotosChangeTimestamp desc","PhotosCount","PhotosCount desc","PoolExpense","PoolExpense desc","PoolFeatures","PoolFeatures desc","PoolPrivateYN","PoolPrivateYN desc","Possession","Possession desc","PossibleUse","PossibleUse desc","PostalCity","PostalCity desc","PostalCode","PostalCode desc","PostalCodePlus4","PostalCodePlus4 desc","PowerProductionType","PowerProductionType desc","PreviousListPrice","PreviousListPrice desc","PriceChangeTimestamp","PriceChangeTimestamp desc","PrivateOfficeRemarks","PrivateOfficeRemarks desc","PrivateRemarks","PrivateRemarks desc","ProfessionalManagementExpense","ProfessionalManagementExpense desc","PropertyAttachedYN","PropertyAttachedYN desc","PropertyCondition","PropertyCondition desc","PropertySubType","PropertySubType desc","PropertyType","PropertyType desc","PublicRemarks","PublicRemarks desc","PublicSurveyRange","PublicSurveyRange desc","PublicSurveySection","PublicSurveySection desc","PublicSurveyTownship","PublicSurveyTownship desc","PurchaseContractDate","PurchaseContractDate desc","RVParkingDimensions","RVParkingDimensions desc","RangeArea","RangeArea desc","RentControlYN","RentControlYN desc","RentIncludes","RentIncludes desc","RoadFrontageType","RoadFrontageType desc","RoadResponsibility","RoadResponsibility desc","RoadSurfaceType","RoadSurfaceType desc","Roof","Roof desc","RoomType","RoomType desc","RoomsTotal","RoomsTotal desc","SeatingCapacity","SeatingCapacity desc","SecurityFeatures","SecurityFeatures desc","SeniorCommunityYN","SeniorCommunityYN desc","SerialU","SerialU desc","SerialX","SerialX desc","SerialXX","SerialXX desc","Sewer","Sewer desc","ShowingAdvanceNotice","ShowingAdvanceNotice desc","ShowingAttendedYN","ShowingAttendedYN desc","ShowingContactName","ShowingContactName desc","ShowingContactPhone","ShowingContactPhone desc","ShowingContactPhoneExt","ShowingContactPhoneExt desc","ShowingContactType","ShowingContactType desc","ShowingDays","ShowingDays desc","ShowingEndTime","ShowingEndTime desc","ShowingInstructions","ShowingInstructions desc","ShowingRequirements","ShowingRequirements desc","ShowingStartTime","ShowingStartTime desc","SignOnPropertyYN","SignOnPropertyYN desc","Skirt","Skirt desc","SourceSystemID","SourceSystemID desc","SourceSystemKey","SourceSystemKey desc","SourceSystemName","SourceSystemName desc","SpaFeatures","SpaFeatures desc","SpaYN","SpaYN desc","SpecialLicenses","SpecialLicenses desc","SpecialListingConditions","SpecialListingConditions desc","StandardStatus","StandardStatus desc","StateOrProvince","StateOrProvince desc","StateRegion","StateRegion desc","StatusChangeTimestamp","StatusChangeTimestamp desc","Stories","Stories desc","StoriesTotal","StoriesTotal desc","StreetAdditionalInfo","StreetAdditionalInfo desc","StreetDirPrefix","StreetDirPrefix desc","StreetDirSuffix","StreetDirSuffix desc","StreetName","StreetName desc","StreetNumber","StreetNumber desc","StreetNumberNumeric","StreetNumberNumeric desc","StreetSuffix","StreetSuffix desc","StreetSuffixModifier","StreetSuffixModifier desc","StructureType","StructureType desc","SubAgencyCompensation","SubAgencyCompensation desc","SubAgencyCompensationType","SubAgencyCompensationType desc","SubdivisionName","SubdivisionName desc","SuppliesExpense","SuppliesExpense desc","SyndicateTo","SyndicateTo desc","SyndicationRemarks","SyndicationRemarks desc","TaxAnnualAmount","TaxAnnualAmount desc","TaxAssessedValue","TaxAssessedValue desc","TaxBlock","TaxBlock desc","TaxBookNumber","TaxBookNumber desc","TaxLegalDescription","TaxLegalDescription desc","TaxLot","TaxLot desc","TaxMapNumber","TaxMapNumber desc","TaxOtherAnnualAssessmentAmount","TaxOtherAnnualAssessmentAmount desc","TaxParcelLetter","TaxParcelLetter desc","TaxStatusCurrent","TaxStatusCurrent desc","TaxTract","TaxTract desc","TaxYear","TaxYear desc","TenantPays","TenantPays desc","Topography","Topography desc","TotalActualRent","TotalActualRent desc","Township","Township desc","TransactionBrokerCompensation","TransactionBrokerCompensation desc","TransactionBrokerCompensationType","TransactionBrokerCompensationType desc","TrashExpense","TrashExpense desc","UnitNumber","UnitNumber desc","UnitTypeType","UnitTypeType desc","UnitsFurnished","UnitsFurnished desc","UniversalPropertyId","UniversalPropertyId desc","UniversalPropertySubId","UniversalPropertySubId desc","UnparsedAddress","UnparsedAddress desc","Utilities","Utilities desc","VacancyAllowance","VacancyAllowance desc","VacancyAllowanceRate","VacancyAllowanceRate desc","Vegetation","Vegetation desc","VideosChangeTimestamp","VideosChangeTimestamp desc","VideosCount","VideosCount desc","View","View desc","ViewYN","ViewYN desc","VirtualTourURLBranded","VirtualTourURLBranded desc","VirtualTourURLUnbranded","VirtualTourURLUnbranded desc","WalkScore","WalkScore desc","WaterBodyName","WaterBodyName desc","WaterSewerExpense","WaterSewerExpense desc","WaterSource","WaterSource desc","WaterfrontFeatures","WaterfrontFeatures desc","WaterfrontYN","WaterfrontYN desc","WindowFeatures","WindowFeatures desc","WithdrawnDate","WithdrawnDate desc","WoodedArea","WoodedArea desc","WorkmansCompensationExpense","WorkmansCompensationExpense desc","YearBuilt","YearBuilt desc","YearBuiltDetails","YearBuiltDetails desc","YearBuiltEffective","YearBuiltEffective desc","YearBuiltSource","YearBuiltSource desc","YearEstablished","YearEstablished desc","YearsCurrentOwner","YearsCurrentOwner desc","Zoning","Zoning desc","ZoningDescription","ZoningDescription desc"]}}},{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["AboveGradeFinishedArea","AboveGradeFinishedAreaSource","AboveGradeFinishedAreaUnits","AccessCode","AccessibilityFeatures","AdditionalParcelsDescription","AdditionalParcelsYN","AnchorsCoTenants","Appliances","ArchitecturalStyle","AssociationAmenities","AssociationFee","AssociationFee2","AssociationFee2Frequency","AssociationFeeFrequency","AssociationFeeIncludes","AssociationName","AssociationName2","AssociationPhone","AssociationPhone2","AssociationYN","AttachedGarageYN","AvailabilityDate","Basement","BasementYN","BathroomsFull","BathroomsHalf","BathroomsOneQuarter","BathroomsPartial","BathroomsThreeQuarter","BathroomsTotalInteger","BedroomsPossible","BedroomsTotal","BelowGradeFinishedArea","BelowGradeFinishedAreaSource","BelowGradeFinishedAreaUnits","BodyType","BuilderModel","BuilderName","BuildingAreaSource","BuildingAreaTotal","BuildingAreaUnits","BuildingFeatures","BuildingName","BusinessName","BusinessType","BuyerAgencyCompensation","BuyerAgencyCompensationType","BuyerAgentAOR","BuyerAgentDesignation","BuyerAgentDirectPhone","BuyerAgentEmail","BuyerAgentFax","BuyerAgentFirstName","BuyerAgentFullName","BuyerAgentHomePhone","BuyerAgentKey","BuyerAgentKeyNumeric","BuyerAgentLastName","BuyerAgentMiddleName","BuyerAgentMlsId","BuyerAgentMobilePhone","BuyerAgentNamePrefix","BuyerAgentNameSuffix","BuyerAgentOfficePhone","BuyerAgentOfficePhoneExt","BuyerAgentPager","BuyerAgentPreferredPhone","BuyerAgentPreferredPhoneExt","BuyerAgentStateLicense","BuyerAgentTollFreePhone","BuyerAgentURL","BuyerAgentVoiceMail","BuyerAgentVoiceMailExt","BuyerFinancing","BuyerOfficeAOR","BuyerOfficeEmail","BuyerOfficeFax","BuyerOfficeKey","BuyerOfficeKeyNumeric","BuyerOfficeMlsId","BuyerOfficeName","BuyerOfficePhone","BuyerOfficePhoneExt","BuyerOfficeURL","BuyerTeamKey","BuyerTeamKeyNumeric","BuyerTeamName","CableTvExpense","CancellationDate","CapRate","CarportSpaces","CarportYN","CarrierRoute","City","CityRegion","CloseDate","ClosePrice","CoBuyerAgentAOR","CoBuyerAgentDesignation","CoBuyerAgentDirectPhone","CoBuyerAgentEmail","CoBuyerAgentFax","CoBuyerAgentFirstName","CoBuyerAgentFullName","CoBuyerAgentHomePhone","CoBuyerAgentKey","CoBuyerAgentKeyNumeric","CoBuyerAgentLastName","CoBuyerAgentMiddleName","CoBuyerAgentMlsId","CoBuyerAgentMobilePhone","CoBuyerAgentNamePrefix","CoBuyerAgentNameSuffix","CoBuyerAgentOfficePhone","CoBuyerAgentOfficePhoneExt","CoBuyerAgentPager","CoBuyerAgentPreferredPhone","CoBuyerAgentPreferredPhoneExt","CoBuyerAgentStateLicense","CoBuyerAgentTollFreePhone","CoBuyerAgentURL","CoBuyerAgentVoiceMail","CoBuyerAgentVoiceMailExt","CoBuyerOfficeAOR","CoBuyerOfficeEmail","CoBuyerOfficeFax","CoBuyerOfficeKey","CoBuyerOfficeKeyNumeric","CoBuyerOfficeMlsId","CoBuyerOfficeName","CoBuyerOfficePhone","CoBuyerOfficePhoneExt","CoBuyerOfficeURL","CoListAgentAOR","CoListAgentDesignation","CoListAgentDirectPhone","CoListAgentEmail","CoListAgentFax","CoListAgentFirstName","CoListAgentFullName","CoListAgentHomePhone","CoListAgentKey","CoListAgentKeyNumeric","CoListAgentLastName","CoListAgentMiddleName","CoListAgentMlsId","CoListAgentMobilePhone","CoListAgentNamePrefix","CoListAgentNameSuffix","CoListAgentOfficePhone","CoListAgentOfficePhoneExt","CoListAgentPager","CoListAgentPreferredPhone","CoListAgentPreferredPhoneExt","CoListAgentStateLicense","CoListAgentTollFreePhone","CoListAgentURL","CoListAgentVoiceMail","CoListAgentVoiceMailExt","CoListOfficeAOR","CoListOfficeEmail","CoListOfficeFax","CoListOfficeKey","CoListOfficeKeyNumeric","CoListOfficeMlsId","CoListOfficeName","CoListOfficePhone","CoListOfficePhoneExt","CoListOfficeURL","CommonInterest","CommonWalls","CommunityFeatures","Concessions","ConcessionsAmount","ConcessionsComments","ConstructionMaterials","ContinentRegion","Contingency","ContingentDate","ContractStatusChangeDate","Cooling","CoolingYN","CopyrightNotice","Country","CountryRegion","CountyOrParish","CoveredSpaces","CropsIncludedYN","CrossStreet","CultivatedArea","CumulativeDaysOnMarket","CurrentFinancing","CurrentUse","DOH1","DOH2","DOH3","DaysOnMarket","DevelopmentStatus","DirectionFaces","Directions","Disclaimer","Disclosures","DistanceToBusComments","DistanceToBusNumeric","DistanceToBusUnits","DistanceToElectricComments","DistanceToElectricNumeric","DistanceToElectricUnits","DistanceToFreewayComments","DistanceToFreewayNumeric","DistanceToFreewayUnits","DistanceToGasComments","DistanceToGasNumeric","DistanceToGasUnits","DistanceToPhoneServiceComments","DistanceToPhoneServiceNumeric","DistanceToPhoneServiceUnits","DistanceToPlaceofWorshipComments","DistanceToPlaceofWorshipNumeric","DistanceToPlaceofWorshipUnits","DistanceToSchoolBusComments","DistanceToSchoolBusNumeric","DistanceToSchoolBusUnits","DistanceToSchoolsComments","DistanceToSchoolsNumeric","DistanceToSchoolsUnits","DistanceToSewerComments","DistanceToSewerNumeric","DistanceToSewerUnits","DistanceToShoppingComments","DistanceToShoppingNumeric","DistanceToShoppingUnits","DistanceToStreetComments","DistanceToStreetNumeric","DistanceToStreetUnits","DistanceToWaterComments","DistanceToWaterNumeric","DistanceToWaterUnits","DocumentsAvailable","DocumentsChangeTimestamp","DocumentsCount","DoorFeatures","DualVariableCompensationYN","Electric","ElectricExpense","ElectricOnPropertyYN","ElementarySchool","ElementarySchoolDistrict","Elevation","ElevationUnits","EntryLevel","EntryLocation","Exclusions","ExistingLeaseType","ExpirationDate","ExteriorFeatures","FarmCreditServiceInclYN","FarmLandAreaSource","FarmLandAreaUnits","Fencing","FinancialDataSource","FireplaceFeatures","FireplaceYN","FireplacesTotal","Flooring","FoundationArea","FoundationDetails","FrontageLength","FrontageType","FuelExpense","Furnished","FurnitureReplacementExpense","GarageSpaces","GarageYN","GardenerExpense","GrazingPermitsBlmYN","GrazingPermitsForestServiceYN","GrazingPermitsPrivateYN","GreenBuildingVerificationType","GreenEnergyEfficient","GreenEnergyGeneration","GreenIndoorAirQuality","GreenLocation","GreenSustainability","GreenWaterConservation","GrossIncome","GrossScheduledIncome","HabitableResidenceYN","Heating","HeatingYN","HighSchool","HighSchoolDistrict","HomeWarrantyYN","HorseAmenities","HorseYN","HoursDaysOfOperation","HoursDaysOfOperationDescription","Inclusions","IncomeIncludes","InsuranceExpense","InteriorFeatures","InternetAddressDisplayYN","InternetAutomatedValuationDisplayYN","InternetConsumerCommentYN","InternetEntireListingDisplayYN","IrrigationSource","IrrigationWaterRightsAcres","IrrigationWaterRightsYN","LaborInformation","LandLeaseAmount","LandLeaseAmountFrequency","LandLeaseExpirationDate","LandLeaseYN","Latitude","LaundryFeatures","LeasableArea","LeasableAreaUnits","LeaseAmount","LeaseAmountFrequency","LeaseAssignableYN","LeaseConsideredYN","LeaseExpiration","LeaseRenewalCompensation","LeaseRenewalOptionYN","LeaseTerm","Levels","License1","License2","License3","LicensesExpense","ListAOR","ListAgentAOR","ListAgentDesignation","ListAgentDirectPhone","ListAgentEmail","ListAgentFax","ListAgentFirstName","ListAgentFullName","ListAgentHomePhone","ListAgentKey","ListAgentKeyNumeric","ListAgentLastName","ListAgentMiddleName","ListAgentMlsId","ListAgentMobilePhone","ListAgentNamePrefix","ListAgentNameSuffix","ListAgentOfficePhone","ListAgentOfficePhoneExt","ListAgentPager","ListAgentPreferredPhone","ListAgentPreferredPhoneExt","ListAgentStateLicense","ListAgentTollFreePhone","ListAgentURL","ListAgentVoiceMail","ListAgentVoiceMailExt","ListOfficeAOR","ListOfficeEmail","ListOfficeFax","ListOfficeKey","ListOfficeKeyNumeric","ListOfficeMlsId","ListOfficeName","ListOfficePhone","ListOfficePhoneExt","ListOfficeURL","ListPrice","ListPriceLow","ListTeamKey","ListTeamKeyNumeric","ListTeamName","ListingAgreement","ListingContractDate","ListingId","ListingKey","ListingKeyNumeric","ListingService","ListingTerms","LivingArea","LivingAreaSource","LivingAreaUnits","LockBoxLocation","LockBoxSerialNumber","LockBoxType","Longitude","LotDimensionsSource","LotFeatures","LotSizeAcres","LotSizeArea","LotSizeDimensions","LotSizeSource","LotSizeSquareFeet","LotSizeUnits","MLSAreaMajor","MLSAreaMinor","MainLevelBathrooms","MainLevelBedrooms","MaintenanceExpense","MajorChangeTimestamp","MajorChangeType","Make","ManagerExpense","MapCoordinate","MapCoordinateSource","MapURL","MiddleOrJuniorSchool","MiddleOrJuniorSchoolDistrict","MlsStatus","MobileDimUnits","MobileHomeRemainsYN","MobileLength","MobileWidth","Model","ModificationTimestamp","NetOperatingIncome","NewConstructionYN","NewTaxesExpense","NumberOfBuildings","NumberOfFullTimeEmployees","NumberOfLots","NumberOfPads","NumberOfPartTimeEmployees","NumberOfSeparateElectricMeters","NumberOfSeparateGasMeters","NumberOfSeparateWaterMeters","NumberOfUnitsInCommunity","NumberOfUnitsLeased","NumberOfUnitsMoMo","NumberOfUnitsTotal","NumberOfUnitsVacant","OccupantName","OccupantPhone","OccupantType","OffMarketDate","OffMarketTimestamp","OnMarketDate","OnMarketTimestamp","OpenParkingSpaces","OpenParkingYN","OperatingExpense","OperatingExpenseIncludes","OriginalEntryTimestamp","OriginalListPrice","OriginatingSystemID","OriginatingSystemKey","OriginatingSystemName","OtherEquipment","OtherExpense","OtherParking","OtherStructures","OwnerName","OwnerPays","OwnerPhone","Ownership","OwnershipType","ParcelNumber","ParkManagerName","ParkManagerPhone","ParkName","ParkingFeatures","ParkingTotal","PastureArea","PatioAndPorchFeatures","PendingTimestamp","PestControlExpense","PetsAllowed","PhotosChangeTimestamp","PhotosCount","PoolExpense","PoolFeatures","PoolPrivateYN","Possession","PossibleUse","PostalCity","PostalCode","PostalCodePlus4","PowerProductionType","PreviousListPrice","PriceChangeTimestamp","PrivateOfficeRemarks","PrivateRemarks","ProfessionalManagementExpense","PropertyAttachedYN","PropertyCondition","PropertySubType","PropertyType","PublicRemarks","PublicSurveyRange","PublicSurveySection","PublicSurveyTownship","PurchaseContractDate","RVParkingDimensions","RangeArea","RentControlYN","RentIncludes","RoadFrontageType","RoadResponsibility","RoadSurfaceType","Roof","RoomType","RoomsTotal","SeatingCapacity","SecurityFeatures","SeniorCommunityYN","SerialU","SerialX","SerialXX","Sewer","ShowingAdvanceNotice","ShowingAttendedYN","ShowingContactName","ShowingContactPhone","ShowingContactPhoneExt","ShowingContactType","ShowingDays","ShowingEndTime","ShowingInstructions","ShowingRequirements","ShowingStartTime","SignOnPropertyYN","Skirt","SourceSystemID","SourceSystemKey","SourceSystemName","SpaFeatures","SpaYN","SpecialLicenses","SpecialListingConditions","StandardStatus","StateOrProvince","StateRegion","StatusChangeTimestamp","Stories","StoriesTotal","StreetAdditionalInfo","StreetDirPrefix","StreetDirSuffix","StreetName","StreetNumber","StreetNumberNumeric","StreetSuffix","StreetSuffixModifier","StructureType","SubAgencyCompensation","SubAgencyCompensationType","SubdivisionName","SuppliesExpense","SyndicateTo","SyndicationRemarks","TaxAnnualAmount","TaxAssessedValue","TaxBlock","TaxBookNumber","TaxLegalDescription","TaxLot","TaxMapNumber","TaxOtherAnnualAssessmentAmount","TaxParcelLetter","TaxStatusCurrent","TaxTract","TaxYear","TenantPays","Topography","TotalActualRent","Township","TransactionBrokerCompensation","TransactionBrokerCompensationType","TrashExpense","UnitNumber","UnitTypeType","UnitsFurnished","UniversalPropertyId","UniversalPropertySubId","UnparsedAddress","Utilities","VacancyAllowance","VacancyAllowanceRate","Vegetation","VideosChangeTimestamp","VideosCount","View","ViewYN","VirtualTourURLBranded","VirtualTourURLUnbranded","WalkScore","WaterBodyName","WaterSewerExpense","WaterSource","WaterfrontFeatures","WaterfrontYN","WindowFeatures","WithdrawnDate","WoodedArea","WorkmansCompensationExpense","YearBuilt","YearBuiltDetails","YearBuiltEffective","YearBuiltSource","YearEstablished","YearsCurrentOwner","Zoning","ZoningDescription"]}}},{"name":"$expand","description":"Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","OriginatingSystem","BuyerAgent","BuyerOffice","CoBuyerAgent","CoBuyerOffice","CoListAgent","CoListOffice","ListAgent","ListOffice","BuyerTeam","ListTeam","SourceSystem","GreenBuildingVerification","PowerProduction","HistoryTransactional","Media","SocialMedia","OpenHouse","Rooms","UnitTypes"]}}}],"responses":{"200":{"description":"Retrieved entities","content":{"application/json":{"schema":{"type":"object","title":"Collection of Property","properties":{"@odata.count":{"$ref":"#/components/schemas/count"},"value":{"type":"array","items":{"$ref":"#/components/schemas/org.reso.metadata.Property"}}}}}}},"4XX":{"$ref":"#/components/responses/error"}}},"post":{"summary":"Add new entity to Property","tags":["Property"],"requestBody":{"description":"New entity","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/org.reso.metadata.Property-create"}}}},"responses":{"201":{"description":"Created entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/org.reso.metadata.Property"}}}},"4XX":{"$ref":"#/components/responses/error"}}}},"/Property('{ListingKey}')":{"parameters":[{"description":"key: ListingKey","in":"path","name":"ListingKey","required":true,"schema":{"type":"string","maxLength":255,"nullable":true}}],"get":{"summary":"Get entity from Property by key","tags":["Property"],"parameters":[{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["AboveGradeFinishedArea","AboveGradeFinishedAreaSource","AboveGradeFinishedAreaUnits","AccessCode","AccessibilityFeatures","AdditionalParcelsDescription","AdditionalParcelsYN","AnchorsCoTenants","Appliances","ArchitecturalStyle","AssociationAmenities","AssociationFee","AssociationFee2","AssociationFee2Frequency","AssociationFeeFrequency","AssociationFeeIncludes","AssociationName","AssociationName2","AssociationPhone","AssociationPhone2","AssociationYN","AttachedGarageYN","AvailabilityDate","Basement","BasementYN","BathroomsFull","BathroomsHalf","BathroomsOneQuarter","BathroomsPartial","BathroomsThreeQuarter","BathroomsTotalInteger","BedroomsPossible","BedroomsTotal","BelowGradeFinishedArea","BelowGradeFinishedAreaSource","BelowGradeFinishedAreaUnits","BodyType","BuilderModel","BuilderName","BuildingAreaSource","BuildingAreaTotal","BuildingAreaUnits","BuildingFeatures","BuildingName","BusinessName","BusinessType","BuyerAgencyCompensation","BuyerAgencyCompensationType","BuyerAgentAOR","BuyerAgentDesignation","BuyerAgentDirectPhone","BuyerAgentEmail","BuyerAgentFax","BuyerAgentFirstName","BuyerAgentFullName","BuyerAgentHomePhone","BuyerAgentKey","BuyerAgentKeyNumeric","BuyerAgentLastName","BuyerAgentMiddleName","BuyerAgentMlsId","BuyerAgentMobilePhone","BuyerAgentNamePrefix","BuyerAgentNameSuffix","BuyerAgentOfficePhone","BuyerAgentOfficePhoneExt","BuyerAgentPager","BuyerAgentPreferredPhone","BuyerAgentPreferredPhoneExt","BuyerAgentStateLicense","BuyerAgentTollFreePhone","BuyerAgentURL","BuyerAgentVoiceMail","BuyerAgentVoiceMailExt","BuyerFinancing","BuyerOfficeAOR","BuyerOfficeEmail","BuyerOfficeFax","BuyerOfficeKey","BuyerOfficeKeyNumeric","BuyerOfficeMlsId","BuyerOfficeName","BuyerOfficePhone","BuyerOfficePhoneExt","BuyerOfficeURL","BuyerTeamKey","BuyerTeamKeyNumeric","BuyerTeamName","CableTvExpense","CancellationDate","CapRate","CarportSpaces","CarportYN","CarrierRoute","City","CityRegion","CloseDate","ClosePrice","CoBuyerAgentAOR","CoBuyerAgentDesignation","CoBuyerAgentDirectPhone","CoBuyerAgentEmail","CoBuyerAgentFax","CoBuyerAgentFirstName","CoBuyerAgentFullName","CoBuyerAgentHomePhone","CoBuyerAgentKey","CoBuyerAgentKeyNumeric","CoBuyerAgentLastName","CoBuyerAgentMiddleName","CoBuyerAgentMlsId","CoBuyerAgentMobilePhone","CoBuyerAgentNamePrefix","CoBuyerAgentNameSuffix","CoBuyerAgentOfficePhone","CoBuyerAgentOfficePhoneExt","CoBuyerAgentPager","CoBuyerAgentPreferredPhone","CoBuyerAgentPreferredPhoneExt","CoBuyerAgentStateLicense","CoBuyerAgentTollFreePhone","CoBuyerAgentURL","CoBuyerAgentVoiceMail","CoBuyerAgentVoiceMailExt","CoBuyerOfficeAOR","CoBuyerOfficeEmail","CoBuyerOfficeFax","CoBuyerOfficeKey","CoBuyerOfficeKeyNumeric","CoBuyerOfficeMlsId","CoBuyerOfficeName","CoBuyerOfficePhone","CoBuyerOfficePhoneExt","CoBuyerOfficeURL","CoListAgentAOR","CoListAgentDesignation","CoListAgentDirectPhone","CoListAgentEmail","CoListAgentFax","CoListAgentFirstName","CoListAgentFullName","CoListAgentHomePhone","CoListAgentKey","CoListAgentKeyNumeric","CoListAgentLastName","CoListAgentMiddleName","CoListAgentMlsId","CoListAgentMobilePhone","CoListAgentNamePrefix","CoListAgentNameSuffix","CoListAgentOfficePhone","CoListAgentOfficePhoneExt","CoListAgentPager","CoListAgentPreferredPhone","CoListAgentPreferredPhoneExt","CoListAgentStateLicense","CoListAgentTollFreePhone","CoListAgentURL","CoListAgentVoiceMail","CoListAgentVoiceMailExt","CoListOfficeAOR","CoListOfficeEmail","CoListOfficeFax","CoListOfficeKey","CoListOfficeKeyNumeric","CoListOfficeMlsId","CoListOfficeName","CoListOfficePhone","CoListOfficePhoneExt","CoListOfficeURL","CommonInterest","CommonWalls","CommunityFeatures","Concessions","ConcessionsAmount","ConcessionsComments","ConstructionMaterials","ContinentRegion","Contingency","ContingentDate","ContractStatusChangeDate","Cooling","CoolingYN","CopyrightNotice","Country","CountryRegion","CountyOrParish","CoveredSpaces","CropsIncludedYN","CrossStreet","CultivatedArea","CumulativeDaysOnMarket","CurrentFinancing","CurrentUse","DOH1","DOH2","DOH3","DaysOnMarket","DevelopmentStatus","DirectionFaces","Directions","Disclaimer","Disclosures","DistanceToBusComments","DistanceToBusNumeric","DistanceToBusUnits","DistanceToElectricComments","DistanceToElectricNumeric","DistanceToElectricUnits","DistanceToFreewayComments","DistanceToFreewayNumeric","DistanceToFreewayUnits","DistanceToGasComments","DistanceToGasNumeric","DistanceToGasUnits","DistanceToPhoneServiceComments","DistanceToPhoneServiceNumeric","DistanceToPhoneServiceUnits","DistanceToPlaceofWorshipComments","DistanceToPlaceofWorshipNumeric","DistanceToPlaceofWorshipUnits","DistanceToSchoolBusComments","DistanceToSchoolBusNumeric","DistanceToSchoolBusUnits","DistanceToSchoolsComments","DistanceToSchoolsNumeric","DistanceToSchoolsUnits","DistanceToSewerComments","DistanceToSewerNumeric","DistanceToSewerUnits","DistanceToShoppingComments","DistanceToShoppingNumeric","DistanceToShoppingUnits","DistanceToStreetComments","DistanceToStreetNumeric","DistanceToStreetUnits","DistanceToWaterComments","DistanceToWaterNumeric","DistanceToWaterUnits","DocumentsAvailable","DocumentsChangeTimestamp","DocumentsCount","DoorFeatures","DualVariableCompensationYN","Electric","ElectricExpense","ElectricOnPropertyYN","ElementarySchool","ElementarySchoolDistrict","Elevation","ElevationUnits","EntryLevel","EntryLocation","Exclusions","ExistingLeaseType","ExpirationDate","ExteriorFeatures","FarmCreditServiceInclYN","FarmLandAreaSource","FarmLandAreaUnits","Fencing","FinancialDataSource","FireplaceFeatures","FireplaceYN","FireplacesTotal","Flooring","FoundationArea","FoundationDetails","FrontageLength","FrontageType","FuelExpense","Furnished","FurnitureReplacementExpense","GarageSpaces","GarageYN","GardenerExpense","GrazingPermitsBlmYN","GrazingPermitsForestServiceYN","GrazingPermitsPrivateYN","GreenBuildingVerificationType","GreenEnergyEfficient","GreenEnergyGeneration","GreenIndoorAirQuality","GreenLocation","GreenSustainability","GreenWaterConservation","GrossIncome","GrossScheduledIncome","HabitableResidenceYN","Heating","HeatingYN","HighSchool","HighSchoolDistrict","HomeWarrantyYN","HorseAmenities","HorseYN","HoursDaysOfOperation","HoursDaysOfOperationDescription","Inclusions","IncomeIncludes","InsuranceExpense","InteriorFeatures","InternetAddressDisplayYN","InternetAutomatedValuationDisplayYN","InternetConsumerCommentYN","InternetEntireListingDisplayYN","IrrigationSource","IrrigationWaterRightsAcres","IrrigationWaterRightsYN","LaborInformation","LandLeaseAmount","LandLeaseAmountFrequency","LandLeaseExpirationDate","LandLeaseYN","Latitude","LaundryFeatures","LeasableArea","LeasableAreaUnits","LeaseAmount","LeaseAmountFrequency","LeaseAssignableYN","LeaseConsideredYN","LeaseExpiration","LeaseRenewalCompensation","LeaseRenewalOptionYN","LeaseTerm","Levels","License1","License2","License3","LicensesExpense","ListAOR","ListAgentAOR","ListAgentDesignation","ListAgentDirectPhone","ListAgentEmail","ListAgentFax","ListAgentFirstName","ListAgentFullName","ListAgentHomePhone","ListAgentKey","ListAgentKeyNumeric","ListAgentLastName","ListAgentMiddleName","ListAgentMlsId","ListAgentMobilePhone","ListAgentNamePrefix","ListAgentNameSuffix","ListAgentOfficePhone","ListAgentOfficePhoneExt","ListAgentPager","ListAgentPreferredPhone","ListAgentPreferredPhoneExt","ListAgentStateLicense","ListAgentTollFreePhone","ListAgentURL","ListAgentVoiceMail","ListAgentVoiceMailExt","ListOfficeAOR","ListOfficeEmail","ListOfficeFax","ListOfficeKey","ListOfficeKeyNumeric","ListOfficeMlsId","ListOfficeName","ListOfficePhone","ListOfficePhoneExt","ListOfficeURL","ListPrice","ListPriceLow","ListTeamKey","ListTeamKeyNumeric","ListTeamName","ListingAgreement","ListingContractDate","ListingId","ListingKey","ListingKeyNumeric","ListingService","ListingTerms","LivingArea","LivingAreaSource","LivingAreaUnits","LockBoxLocation","LockBoxSerialNumber","LockBoxType","Longitude","LotDimensionsSource","LotFeatures","LotSizeAcres","LotSizeArea","LotSizeDimensions","LotSizeSource","LotSizeSquareFeet","LotSizeUnits","MLSAreaMajor","MLSAreaMinor","MainLevelBathrooms","MainLevelBedrooms","MaintenanceExpense","MajorChangeTimestamp","MajorChangeType","Make","ManagerExpense","MapCoordinate","MapCoordinateSource","MapURL","MiddleOrJuniorSchool","MiddleOrJuniorSchoolDistrict","MlsStatus","MobileDimUnits","MobileHomeRemainsYN","MobileLength","MobileWidth","Model","ModificationTimestamp","NetOperatingIncome","NewConstructionYN","NewTaxesExpense","NumberOfBuildings","NumberOfFullTimeEmployees","NumberOfLots","NumberOfPads","NumberOfPartTimeEmployees","NumberOfSeparateElectricMeters","NumberOfSeparateGasMeters","NumberOfSeparateWaterMeters","NumberOfUnitsInCommunity","NumberOfUnitsLeased","NumberOfUnitsMoMo","NumberOfUnitsTotal","NumberOfUnitsVacant","OccupantName","OccupantPhone","OccupantType","OffMarketDate","OffMarketTimestamp","OnMarketDate","OnMarketTimestamp","OpenParkingSpaces","OpenParkingYN","OperatingExpense","OperatingExpenseIncludes","OriginalEntryTimestamp","OriginalListPrice","OriginatingSystemID","OriginatingSystemKey","OriginatingSystemName","OtherEquipment","OtherExpense","OtherParking","OtherStructures","OwnerName","OwnerPays","OwnerPhone","Ownership","OwnershipType","ParcelNumber","ParkManagerName","ParkManagerPhone","ParkName","ParkingFeatures","ParkingTotal","PastureArea","PatioAndPorchFeatures","PendingTimestamp","PestControlExpense","PetsAllowed","PhotosChangeTimestamp","PhotosCount","PoolExpense","PoolFeatures","PoolPrivateYN","Possession","PossibleUse","PostalCity","PostalCode","PostalCodePlus4","PowerProductionType","PreviousListPrice","PriceChangeTimestamp","PrivateOfficeRemarks","PrivateRemarks","ProfessionalManagementExpense","PropertyAttachedYN","PropertyCondition","PropertySubType","PropertyType","PublicRemarks","PublicSurveyRange","PublicSurveySection","PublicSurveyTownship","PurchaseContractDate","RVParkingDimensions","RangeArea","RentControlYN","RentIncludes","RoadFrontageType","RoadResponsibility","RoadSurfaceType","Roof","RoomType","RoomsTotal","SeatingCapacity","SecurityFeatures","SeniorCommunityYN","SerialU","SerialX","SerialXX","Sewer","ShowingAdvanceNotice","ShowingAttendedYN","ShowingContactName","ShowingContactPhone","ShowingContactPhoneExt","ShowingContactType","ShowingDays","ShowingEndTime","ShowingInstructions","ShowingRequirements","ShowingStartTime","SignOnPropertyYN","Skirt","SourceSystemID","SourceSystemKey","SourceSystemName","SpaFeatures","SpaYN","SpecialLicenses","SpecialListingConditions","StandardStatus","StateOrProvince","StateRegion","StatusChangeTimestamp","Stories","StoriesTotal","StreetAdditionalInfo","StreetDirPrefix","StreetDirSuffix","StreetName","StreetNumber","StreetNumberNumeric","StreetSuffix","StreetSuffixModifier","StructureType","SubAgencyCompensation","SubAgencyCompensationType","SubdivisionName","SuppliesExpense","SyndicateTo","SyndicationRemarks","TaxAnnualAmount","TaxAssessedValue","TaxBlock","TaxBookNumber","TaxLegalDescription","TaxLot","TaxMapNumber","TaxOtherAnnualAssessmentAmount","TaxParcelLetter","TaxStatusCurrent","TaxTract","TaxYear","TenantPays","Topography","TotalActualRent","Township","TransactionBrokerCompensation","TransactionBrokerCompensationType","TrashExpense","UnitNumber","UnitTypeType","UnitsFurnished","UniversalPropertyId","UniversalPropertySubId","UnparsedAddress","Utilities","VacancyAllowance","VacancyAllowanceRate","Vegetation","VideosChangeTimestamp","VideosCount","View","ViewYN","VirtualTourURLBranded","VirtualTourURLUnbranded","WalkScore","WaterBodyName","WaterSewerExpense","WaterSource","WaterfrontFeatures","WaterfrontYN","WindowFeatures","WithdrawnDate","WoodedArea","WorkmansCompensationExpense","YearBuilt","YearBuiltDetails","YearBuiltEffective","YearBuiltSource","YearEstablished","YearsCurrentOwner","Zoning","ZoningDescription"]}}},{"name":"$expand","description":"Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","OriginatingSystem","BuyerAgent","BuyerOffice","CoBuyerAgent","CoBuyerOffice","CoListAgent","CoListOffice","ListAgent","ListOffice","BuyerTeam","ListTeam","SourceSystem","GreenBuildingVerification","PowerProduction","HistoryTransactional","Media","SocialMedia","OpenHouse","Rooms","UnitTypes"]}}}],"responses":{"200":{"description":"Retrieved entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/org.reso.metadata.Property"}}}},"4XX":{"$ref":"#/components/responses/error"}}},"patch":{"summary":"Update entity in Property","tags":["Property"],"requestBody":{"description":"New property values","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/org.reso.metadata.Property-update"}}}},"responses":{"204":{"description":"Success"},"4XX":{"$ref":"#/components/responses/error"}}},"delete":{"summary":"Delete entity from Property","tags":["Property"],"responses":{"204":{"description":"Success"},"4XX":{"$ref":"#/components/responses/error"}}}},"/Property('{ListingKey}')/OriginatingSystem":{"parameters":[{"description":"key: ListingKey","in":"path","name":"ListingKey","required":true,"schema":{"type":"string","maxLength":255,"nullable":true}}],"get":{"summary":"Get related OriginatingSystem","tags":["Property"],"parameters":[{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ChangedByMemberID","ChangedByMemberKey","ChangedByMemberKeyNumeric","ModificationTimestamp","OrganizationAOR","OrganizationAddress1","OrganizationAddress2","OrganizationAorOuid","OrganizationAorOuidKey","OrganizationAorOuidKeyNumeric","OrganizationCarrierRoute","OrganizationCity","OrganizationComments","OrganizationContactEmail","OrganizationContactFax","OrganizationContactFirstName","OrganizationContactFullName","OrganizationContactJobTitle","OrganizationContactLastName","OrganizationContactMiddleName","OrganizationContactNamePrefix","OrganizationContactNameSuffix","OrganizationContactPhone","OrganizationContactPhoneExt","OrganizationCountry","OrganizationCountyOrParish","OrganizationMemberCount","OrganizationMlsCode","OrganizationMlsVendorName","OrganizationMlsVendorOuid","OrganizationName","OrganizationNationalAssociationId","OrganizationPostalCode","OrganizationPostalCodePlus4","OrganizationSocialMediaType","OrganizationStateLicense","OrganizationStateLicenseState","OrganizationStateOrProvince","OrganizationStatus","OrganizationStatusChangeTimestamp","OrganizationType","OrganizationUniqueId","OrganizationUniqueIdKey","OrganizationUniqueIdKeyNumeric","OriginalEntryTimestamp"]}}},{"name":"$expand","description":"Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","ChangedByMember","HistoryTransactional","Media","OrganizationSocialMedia"]}}}],"responses":{"200":{"description":"Retrieved entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/org.reso.metadata.OUID"}}}},"4XX":{"$ref":"#/components/responses/error"}}}},"/Property('{ListingKey}')/BuyerAgent":{"parameters":[{"description":"key: ListingKey","in":"path","name":"ListingKey","required":true,"schema":{"type":"string","maxLength":255,"nullable":true}}],"get":{"summary":"Get related BuyerAgent","tags":["Property"],"parameters":[{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["JobTitle","LastLoginTimestamp","MemberAOR","MemberAORMlsId","MemberAORkey","MemberAORkeyNumeric","MemberAddress1","MemberAddress2","MemberAssociationComments","MemberCarrierRoute","MemberCity","MemberCountry","MemberCountyOrParish","MemberDesignation","MemberDirectPhone","MemberEmail","MemberFax","MemberFirstName","MemberFullName","MemberHomePhone","MemberIsAssistantTo","MemberKey","MemberKeyNumeric","MemberLanguages","MemberLastName","MemberLoginId","MemberMiddleName","MemberMlsAccessYN","MemberMlsId","MemberMlsSecurityClass","MemberMobilePhone","MemberNamePrefix","MemberNameSuffix","MemberNationalAssociationId","MemberNickname","MemberOfficePhone","MemberOfficePhoneExt","MemberOtherPhoneType","MemberPager","MemberPassword","MemberPhoneTTYTDD","MemberPostalCode","MemberPostalCodePlus4","MemberPreferredPhone","MemberPreferredPhoneExt","MemberStateLicense","MemberStateLicenseState","MemberStateOrProvince","MemberStatus","MemberTollFreePhone","MemberType","MemberVoiceMail","MemberVoiceMailExt","ModificationTimestamp","OfficeKey","OfficeKeyNumeric","OfficeMlsId","OfficeName","OriginalEntryTimestamp","OriginatingSystemID","OriginatingSystemMemberKey","OriginatingSystemName","SocialMediaType","SourceSystemID","SourceSystemMemberKey","SourceSystemName","SyndicateTo"]}}},{"name":"$expand","description":"Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","Office","OriginatingSystem","SourceSystem","MemberSocialMedia","MemberOtherPhone","HistoryTransactional","Media"]}}}],"responses":{"200":{"description":"Retrieved entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/org.reso.metadata.Member"}}}},"4XX":{"$ref":"#/components/responses/error"}}}},"/Property('{ListingKey}')/BuyerOffice":{"parameters":[{"description":"key: ListingKey","in":"path","name":"ListingKey","required":true,"schema":{"type":"string","maxLength":255,"nullable":true}}],"get":{"summary":"Get related BuyerOffice","tags":["Property"],"parameters":[{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["FranchiseAffiliation","IDXOfficeParticipationYN","MainOfficeKey","MainOfficeKeyNumeric","MainOfficeMlsId","ModificationTimestamp","OfficeAOR","OfficeAORMlsId","OfficeAORkey","OfficeAORkeyNumeric","OfficeAddress1","OfficeAddress2","OfficeAssociationComments","OfficeBranchType","OfficeBrokerKey","OfficeBrokerKeyNumeric","OfficeBrokerMlsId","OfficeCity","OfficeCorporateLicense","OfficeCountyOrParish","OfficeEmail","OfficeFax","OfficeKey","OfficeKeyNumeric","OfficeManagerKey","OfficeManagerKeyNumeric","OfficeManagerMlsId","OfficeMlsId","OfficeName","OfficeNationalAssociationId","OfficePhone","OfficePhoneExt","OfficePostalCode","OfficePostalCodePlus4","OfficeStateOrProvince","OfficeStatus","OfficeType","OriginalEntryTimestamp","OriginatingSystemID","OriginatingSystemName","OriginatingSystemOfficeKey","SocialMediaType","SourceSystemID","SourceSystemName","SourceSystemOfficeKey","SyndicateAgentOption","SyndicateTo"]}}},{"name":"$expand","description":"Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","MainOffice","OfficeBroker","OfficeManager","OriginatingSystem","SourceSystem","HistoryTransactional","Media","OfficeSocialMedia"]}}}],"responses":{"200":{"description":"Retrieved entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/org.reso.metadata.Office"}}}},"4XX":{"$ref":"#/components/responses/error"}}}},"/Property('{ListingKey}')/CoBuyerAgent":{"parameters":[{"description":"key: ListingKey","in":"path","name":"ListingKey","required":true,"schema":{"type":"string","maxLength":255,"nullable":true}}],"get":{"summary":"Get related CoBuyerAgent","tags":["Property"],"parameters":[{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["JobTitle","LastLoginTimestamp","MemberAOR","MemberAORMlsId","MemberAORkey","MemberAORkeyNumeric","MemberAddress1","MemberAddress2","MemberAssociationComments","MemberCarrierRoute","MemberCity","MemberCountry","MemberCountyOrParish","MemberDesignation","MemberDirectPhone","MemberEmail","MemberFax","MemberFirstName","MemberFullName","MemberHomePhone","MemberIsAssistantTo","MemberKey","MemberKeyNumeric","MemberLanguages","MemberLastName","MemberLoginId","MemberMiddleName","MemberMlsAccessYN","MemberMlsId","MemberMlsSecurityClass","MemberMobilePhone","MemberNamePrefix","MemberNameSuffix","MemberNationalAssociationId","MemberNickname","MemberOfficePhone","MemberOfficePhoneExt","MemberOtherPhoneType","MemberPager","MemberPassword","MemberPhoneTTYTDD","MemberPostalCode","MemberPostalCodePlus4","MemberPreferredPhone","MemberPreferredPhoneExt","MemberStateLicense","MemberStateLicenseState","MemberStateOrProvince","MemberStatus","MemberTollFreePhone","MemberType","MemberVoiceMail","MemberVoiceMailExt","ModificationTimestamp","OfficeKey","OfficeKeyNumeric","OfficeMlsId","OfficeName","OriginalEntryTimestamp","OriginatingSystemID","OriginatingSystemMemberKey","OriginatingSystemName","SocialMediaType","SourceSystemID","SourceSystemMemberKey","SourceSystemName","SyndicateTo"]}}},{"name":"$expand","description":"Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","Office","OriginatingSystem","SourceSystem","MemberSocialMedia","MemberOtherPhone","HistoryTransactional","Media"]}}}],"responses":{"200":{"description":"Retrieved entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/org.reso.metadata.Member"}}}},"4XX":{"$ref":"#/components/responses/error"}}}},"/Property('{ListingKey}')/CoBuyerOffice":{"parameters":[{"description":"key: ListingKey","in":"path","name":"ListingKey","required":true,"schema":{"type":"string","maxLength":255,"nullable":true}}],"get":{"summary":"Get related CoBuyerOffice","tags":["Property"],"parameters":[{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["FranchiseAffiliation","IDXOfficeParticipationYN","MainOfficeKey","MainOfficeKeyNumeric","MainOfficeMlsId","ModificationTimestamp","OfficeAOR","OfficeAORMlsId","OfficeAORkey","OfficeAORkeyNumeric","OfficeAddress1","OfficeAddress2","OfficeAssociationComments","OfficeBranchType","OfficeBrokerKey","OfficeBrokerKeyNumeric","OfficeBrokerMlsId","OfficeCity","OfficeCorporateLicense","OfficeCountyOrParish","OfficeEmail","OfficeFax","OfficeKey","OfficeKeyNumeric","OfficeManagerKey","OfficeManagerKeyNumeric","OfficeManagerMlsId","OfficeMlsId","OfficeName","OfficeNationalAssociationId","OfficePhone","OfficePhoneExt","OfficePostalCode","OfficePostalCodePlus4","OfficeStateOrProvince","OfficeStatus","OfficeType","OriginalEntryTimestamp","OriginatingSystemID","OriginatingSystemName","OriginatingSystemOfficeKey","SocialMediaType","SourceSystemID","SourceSystemName","SourceSystemOfficeKey","SyndicateAgentOption","SyndicateTo"]}}},{"name":"$expand","description":"Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","MainOffice","OfficeBroker","OfficeManager","OriginatingSystem","SourceSystem","HistoryTransactional","Media","OfficeSocialMedia"]}}}],"responses":{"200":{"description":"Retrieved entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/org.reso.metadata.Office"}}}},"4XX":{"$ref":"#/components/responses/error"}}}},"/Property('{ListingKey}')/CoListAgent":{"parameters":[{"description":"key: ListingKey","in":"path","name":"ListingKey","required":true,"schema":{"type":"string","maxLength":255,"nullable":true}}],"get":{"summary":"Get related CoListAgent","tags":["Property"],"parameters":[{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["JobTitle","LastLoginTimestamp","MemberAOR","MemberAORMlsId","MemberAORkey","MemberAORkeyNumeric","MemberAddress1","MemberAddress2","MemberAssociationComments","MemberCarrierRoute","MemberCity","MemberCountry","MemberCountyOrParish","MemberDesignation","MemberDirectPhone","MemberEmail","MemberFax","MemberFirstName","MemberFullName","MemberHomePhone","MemberIsAssistantTo","MemberKey","MemberKeyNumeric","MemberLanguages","MemberLastName","MemberLoginId","MemberMiddleName","MemberMlsAccessYN","MemberMlsId","MemberMlsSecurityClass","MemberMobilePhone","MemberNamePrefix","MemberNameSuffix","MemberNationalAssociationId","MemberNickname","MemberOfficePhone","MemberOfficePhoneExt","MemberOtherPhoneType","MemberPager","MemberPassword","MemberPhoneTTYTDD","MemberPostalCode","MemberPostalCodePlus4","MemberPreferredPhone","MemberPreferredPhoneExt","MemberStateLicense","MemberStateLicenseState","MemberStateOrProvince","MemberStatus","MemberTollFreePhone","MemberType","MemberVoiceMail","MemberVoiceMailExt","ModificationTimestamp","OfficeKey","OfficeKeyNumeric","OfficeMlsId","OfficeName","OriginalEntryTimestamp","OriginatingSystemID","OriginatingSystemMemberKey","OriginatingSystemName","SocialMediaType","SourceSystemID","SourceSystemMemberKey","SourceSystemName","SyndicateTo"]}}},{"name":"$expand","description":"Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","Office","OriginatingSystem","SourceSystem","MemberSocialMedia","MemberOtherPhone","HistoryTransactional","Media"]}}}],"responses":{"200":{"description":"Retrieved entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/org.reso.metadata.Member"}}}},"4XX":{"$ref":"#/components/responses/error"}}}},"/Property('{ListingKey}')/CoListOffice":{"parameters":[{"description":"key: ListingKey","in":"path","name":"ListingKey","required":true,"schema":{"type":"string","maxLength":255,"nullable":true}}],"get":{"summary":"Get related CoListOffice","tags":["Property"],"parameters":[{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["FranchiseAffiliation","IDXOfficeParticipationYN","MainOfficeKey","MainOfficeKeyNumeric","MainOfficeMlsId","ModificationTimestamp","OfficeAOR","OfficeAORMlsId","OfficeAORkey","OfficeAORkeyNumeric","OfficeAddress1","OfficeAddress2","OfficeAssociationComments","OfficeBranchType","OfficeBrokerKey","OfficeBrokerKeyNumeric","OfficeBrokerMlsId","OfficeCity","OfficeCorporateLicense","OfficeCountyOrParish","OfficeEmail","OfficeFax","OfficeKey","OfficeKeyNumeric","OfficeManagerKey","OfficeManagerKeyNumeric","OfficeManagerMlsId","OfficeMlsId","OfficeName","OfficeNationalAssociationId","OfficePhone","OfficePhoneExt","OfficePostalCode","OfficePostalCodePlus4","OfficeStateOrProvince","OfficeStatus","OfficeType","OriginalEntryTimestamp","OriginatingSystemID","OriginatingSystemName","OriginatingSystemOfficeKey","SocialMediaType","SourceSystemID","SourceSystemName","SourceSystemOfficeKey","SyndicateAgentOption","SyndicateTo"]}}},{"name":"$expand","description":"Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","MainOffice","OfficeBroker","OfficeManager","OriginatingSystem","SourceSystem","HistoryTransactional","Media","OfficeSocialMedia"]}}}],"responses":{"200":{"description":"Retrieved entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/org.reso.metadata.Office"}}}},"4XX":{"$ref":"#/components/responses/error"}}}},"/Property('{ListingKey}')/ListAgent":{"parameters":[{"description":"key: ListingKey","in":"path","name":"ListingKey","required":true,"schema":{"type":"string","maxLength":255,"nullable":true}}],"get":{"summary":"Get related ListAgent","tags":["Property"],"parameters":[{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["JobTitle","LastLoginTimestamp","MemberAOR","MemberAORMlsId","MemberAORkey","MemberAORkeyNumeric","MemberAddress1","MemberAddress2","MemberAssociationComments","MemberCarrierRoute","MemberCity","MemberCountry","MemberCountyOrParish","MemberDesignation","MemberDirectPhone","MemberEmail","MemberFax","MemberFirstName","MemberFullName","MemberHomePhone","MemberIsAssistantTo","MemberKey","MemberKeyNumeric","MemberLanguages","MemberLastName","MemberLoginId","MemberMiddleName","MemberMlsAccessYN","MemberMlsId","MemberMlsSecurityClass","MemberMobilePhone","MemberNamePrefix","MemberNameSuffix","MemberNationalAssociationId","MemberNickname","MemberOfficePhone","MemberOfficePhoneExt","MemberOtherPhoneType","MemberPager","MemberPassword","MemberPhoneTTYTDD","MemberPostalCode","MemberPostalCodePlus4","MemberPreferredPhone","MemberPreferredPhoneExt","MemberStateLicense","MemberStateLicenseState","MemberStateOrProvince","MemberStatus","MemberTollFreePhone","MemberType","MemberVoiceMail","MemberVoiceMailExt","ModificationTimestamp","OfficeKey","OfficeKeyNumeric","OfficeMlsId","OfficeName","OriginalEntryTimestamp","OriginatingSystemID","OriginatingSystemMemberKey","OriginatingSystemName","SocialMediaType","SourceSystemID","SourceSystemMemberKey","SourceSystemName","SyndicateTo"]}}},{"name":"$expand","description":"Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","Office","OriginatingSystem","SourceSystem","MemberSocialMedia","MemberOtherPhone","HistoryTransactional","Media"]}}}],"responses":{"200":{"description":"Retrieved entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/org.reso.metadata.Member"}}}},"4XX":{"$ref":"#/components/responses/error"}}}},"/Property('{ListingKey}')/ListOffice":{"parameters":[{"description":"key: ListingKey","in":"path","name":"ListingKey","required":true,"schema":{"type":"string","maxLength":255,"nullable":true}}],"get":{"summary":"Get related ListOffice","tags":["Property"],"parameters":[{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["FranchiseAffiliation","IDXOfficeParticipationYN","MainOfficeKey","MainOfficeKeyNumeric","MainOfficeMlsId","ModificationTimestamp","OfficeAOR","OfficeAORMlsId","OfficeAORkey","OfficeAORkeyNumeric","OfficeAddress1","OfficeAddress2","OfficeAssociationComments","OfficeBranchType","OfficeBrokerKey","OfficeBrokerKeyNumeric","OfficeBrokerMlsId","OfficeCity","OfficeCorporateLicense","OfficeCountyOrParish","OfficeEmail","OfficeFax","OfficeKey","OfficeKeyNumeric","OfficeManagerKey","OfficeManagerKeyNumeric","OfficeManagerMlsId","OfficeMlsId","OfficeName","OfficeNationalAssociationId","OfficePhone","OfficePhoneExt","OfficePostalCode","OfficePostalCodePlus4","OfficeStateOrProvince","OfficeStatus","OfficeType","OriginalEntryTimestamp","OriginatingSystemID","OriginatingSystemName","OriginatingSystemOfficeKey","SocialMediaType","SourceSystemID","SourceSystemName","SourceSystemOfficeKey","SyndicateAgentOption","SyndicateTo"]}}},{"name":"$expand","description":"Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","MainOffice","OfficeBroker","OfficeManager","OriginatingSystem","SourceSystem","HistoryTransactional","Media","OfficeSocialMedia"]}}}],"responses":{"200":{"description":"Retrieved entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/org.reso.metadata.Office"}}}},"4XX":{"$ref":"#/components/responses/error"}}}},"/Property('{ListingKey}')/BuyerTeam":{"parameters":[{"description":"key: ListingKey","in":"path","name":"ListingKey","required":true,"schema":{"type":"string","maxLength":255,"nullable":true}}],"get":{"summary":"Get related BuyerTeam","tags":["Property"],"parameters":[{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ModificationTimestamp","OriginalEntryTimestamp","OriginatingSystemID","OriginatingSystemKey","OriginatingSystemName","SocialMediaType","SourceSystemID","SourceSystemKey","SourceSystemName","TeamAddress1","TeamAddress2","TeamCarrierRoute","TeamCity","TeamCountry","TeamCountyOrParish","TeamDescription","TeamDirectPhone","TeamEmail","TeamFax","TeamKey","TeamKeyNumeric","TeamLeadKey","TeamLeadKeyNumeric","TeamLeadLoginId","TeamLeadMlsId","TeamLeadNationalAssociationId","TeamLeadStateLicense","TeamLeadStateLicenseState","TeamMobilePhone","TeamName","TeamOfficePhone","TeamOfficePhoneExt","TeamPostalCode","TeamPostalCodePlus4","TeamPreferredPhone","TeamPreferredPhoneExt","TeamStateOrProvince","TeamStatus","TeamTollFreePhone","TeamVoiceMail","TeamVoiceMailExt"]}}},{"name":"$expand","description":"Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","OriginatingSystem","SourceSystem","TeamLead","HistoryTransactional","Media","TeamsSocialMedia"]}}}],"responses":{"200":{"description":"Retrieved entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/org.reso.metadata.Teams"}}}},"4XX":{"$ref":"#/components/responses/error"}}}},"/Property('{ListingKey}')/ListTeam":{"parameters":[{"description":"key: ListingKey","in":"path","name":"ListingKey","required":true,"schema":{"type":"string","maxLength":255,"nullable":true}}],"get":{"summary":"Get related ListTeam","tags":["Property"],"parameters":[{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ModificationTimestamp","OriginalEntryTimestamp","OriginatingSystemID","OriginatingSystemKey","OriginatingSystemName","SocialMediaType","SourceSystemID","SourceSystemKey","SourceSystemName","TeamAddress1","TeamAddress2","TeamCarrierRoute","TeamCity","TeamCountry","TeamCountyOrParish","TeamDescription","TeamDirectPhone","TeamEmail","TeamFax","TeamKey","TeamKeyNumeric","TeamLeadKey","TeamLeadKeyNumeric","TeamLeadLoginId","TeamLeadMlsId","TeamLeadNationalAssociationId","TeamLeadStateLicense","TeamLeadStateLicenseState","TeamMobilePhone","TeamName","TeamOfficePhone","TeamOfficePhoneExt","TeamPostalCode","TeamPostalCodePlus4","TeamPreferredPhone","TeamPreferredPhoneExt","TeamStateOrProvince","TeamStatus","TeamTollFreePhone","TeamVoiceMail","TeamVoiceMailExt"]}}},{"name":"$expand","description":"Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","OriginatingSystem","SourceSystem","TeamLead","HistoryTransactional","Media","TeamsSocialMedia"]}}}],"responses":{"200":{"description":"Retrieved entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/org.reso.metadata.Teams"}}}},"4XX":{"$ref":"#/components/responses/error"}}}},"/Property('{ListingKey}')/SourceSystem":{"parameters":[{"description":"key: ListingKey","in":"path","name":"ListingKey","required":true,"schema":{"type":"string","maxLength":255,"nullable":true}}],"get":{"summary":"Get related SourceSystem","tags":["Property"],"parameters":[{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ChangedByMemberID","ChangedByMemberKey","ChangedByMemberKeyNumeric","ModificationTimestamp","OrganizationAOR","OrganizationAddress1","OrganizationAddress2","OrganizationAorOuid","OrganizationAorOuidKey","OrganizationAorOuidKeyNumeric","OrganizationCarrierRoute","OrganizationCity","OrganizationComments","OrganizationContactEmail","OrganizationContactFax","OrganizationContactFirstName","OrganizationContactFullName","OrganizationContactJobTitle","OrganizationContactLastName","OrganizationContactMiddleName","OrganizationContactNamePrefix","OrganizationContactNameSuffix","OrganizationContactPhone","OrganizationContactPhoneExt","OrganizationCountry","OrganizationCountyOrParish","OrganizationMemberCount","OrganizationMlsCode","OrganizationMlsVendorName","OrganizationMlsVendorOuid","OrganizationName","OrganizationNationalAssociationId","OrganizationPostalCode","OrganizationPostalCodePlus4","OrganizationSocialMediaType","OrganizationStateLicense","OrganizationStateLicenseState","OrganizationStateOrProvince","OrganizationStatus","OrganizationStatusChangeTimestamp","OrganizationType","OrganizationUniqueId","OrganizationUniqueIdKey","OrganizationUniqueIdKeyNumeric","OriginalEntryTimestamp"]}}},{"name":"$expand","description":"Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","ChangedByMember","HistoryTransactional","Media","OrganizationSocialMedia"]}}}],"responses":{"200":{"description":"Retrieved entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/org.reso.metadata.OUID"}}}},"4XX":{"$ref":"#/components/responses/error"}}}},"/Property('{ListingKey}')/GreenBuildingVerification":{"parameters":[{"description":"key: ListingKey","in":"path","name":"ListingKey","required":true,"schema":{"type":"string","maxLength":255,"nullable":true}}],"get":{"summary":"Get entities from related GreenBuildingVerification","tags":["Property"],"parameters":[{"$ref":"#/components/parameters/top"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/search"},{"name":"$filter","description":"Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/count"},{"name":"$orderby","description":"Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["GreenBuildingVerificationKey","GreenBuildingVerificationKey desc","GreenBuildingVerificationKeyNumeric","GreenBuildingVerificationKeyNumeric desc","GreenBuildingVerificationType","GreenBuildingVerificationType desc","GreenVerificationBody","GreenVerificationBody desc","GreenVerificationMetric","GreenVerificationMetric desc","GreenVerificationRating","GreenVerificationRating desc","GreenVerificationSource","GreenVerificationSource desc","GreenVerificationStatus","GreenVerificationStatus desc","GreenVerificationURL","GreenVerificationURL desc","GreenVerificationVersion","GreenVerificationVersion desc","GreenVerificationYear","GreenVerificationYear desc","ListingId","ListingId desc","ListingKey","ListingKey desc","ListingKeyNumeric","ListingKeyNumeric desc","ModificationTimestamp","ModificationTimestamp desc"]}}},{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["GreenBuildingVerificationKey","GreenBuildingVerificationKeyNumeric","GreenBuildingVerificationType","GreenVerificationBody","GreenVerificationMetric","GreenVerificationRating","GreenVerificationSource","GreenVerificationStatus","GreenVerificationURL","GreenVerificationVersion","GreenVerificationYear","ListingId","ListingKey","ListingKeyNumeric","ModificationTimestamp"]}}},{"name":"$expand","description":"Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","Listing","HistoryTransactional"]}}}],"responses":{"200":{"description":"Retrieved entities","content":{"application/json":{"schema":{"type":"object","title":"Collection of PropertyGreenVerification","properties":{"@odata.count":{"$ref":"#/components/schemas/count"},"value":{"type":"array","items":{"$ref":"#/components/schemas/org.reso.metadata.PropertyGreenVerification"}}}}}}},"4XX":{"$ref":"#/components/responses/error"}}}},"/Property('{ListingKey}')/PowerProduction":{"parameters":[{"description":"key: ListingKey","in":"path","name":"ListingKey","required":true,"schema":{"type":"string","maxLength":255,"nullable":true}}],"get":{"summary":"Get entities from related PowerProduction","tags":["Property"],"parameters":[{"$ref":"#/components/parameters/top"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/search"},{"name":"$filter","description":"Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/count"},{"name":"$orderby","description":"Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ListingId","ListingId desc","ListingKey","ListingKey desc","ListingKeyNumeric","ListingKeyNumeric desc","ModificationTimestamp","ModificationTimestamp desc","PowerProductionAnnual","PowerProductionAnnual desc","PowerProductionAnnualStatus","PowerProductionAnnualStatus desc","PowerProductionKey","PowerProductionKey desc","PowerProductionKeyNumeric","PowerProductionKeyNumeric desc","PowerProductionSize","PowerProductionSize desc","PowerProductionType","PowerProductionType desc","PowerProductionYearInstall","PowerProductionYearInstall desc"]}}},{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ListingId","ListingKey","ListingKeyNumeric","ModificationTimestamp","PowerProductionAnnual","PowerProductionAnnualStatus","PowerProductionKey","PowerProductionKeyNumeric","PowerProductionSize","PowerProductionType","PowerProductionYearInstall"]}}},{"name":"$expand","description":"Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","Listing","HistoryTransactional"]}}}],"responses":{"200":{"description":"Retrieved entities","content":{"application/json":{"schema":{"type":"object","title":"Collection of PropertyPowerProduction","properties":{"@odata.count":{"$ref":"#/components/schemas/count"},"value":{"type":"array","items":{"$ref":"#/components/schemas/org.reso.metadata.PropertyPowerProduction"}}}}}}},"4XX":{"$ref":"#/components/responses/error"}}}},"/Property('{ListingKey}')/HistoryTransactional":{"parameters":[{"description":"key: ListingKey","in":"path","name":"ListingKey","required":true,"schema":{"type":"string","maxLength":255,"nullable":true}}],"get":{"summary":"Get entities from related HistoryTransactional","tags":["Property"],"parameters":[{"$ref":"#/components/parameters/top"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/search"},{"name":"$filter","description":"Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/count"},{"name":"$orderby","description":"Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ChangeType","ChangeType desc","ChangedByMemberID","ChangedByMemberID desc","ChangedByMemberKey","ChangedByMemberKey desc","ChangedByMemberKeyNumeric","ChangedByMemberKeyNumeric desc","ClassName","ClassName desc","FieldKey","FieldKey desc","FieldKeyNumeric","FieldKeyNumeric desc","FieldName","FieldName desc","HistoryTransactionalKey","HistoryTransactionalKey desc","HistoryTransactionalKeyNumeric","HistoryTransactionalKeyNumeric desc","ModificationTimestamp","ModificationTimestamp desc","NewValue","NewValue desc","OriginatingSystemHistoryKey","OriginatingSystemHistoryKey desc","OriginatingSystemID","OriginatingSystemID desc","OriginatingSystemName","OriginatingSystemName desc","PreviousValue","PreviousValue desc","ResourceName","ResourceName desc","ResourceRecordID","ResourceRecordID desc","ResourceRecordKey","ResourceRecordKey desc","ResourceRecordKeyNumeric","ResourceRecordKeyNumeric desc","SourceSystemHistoryKey","SourceSystemHistoryKey desc","SourceSystemID","SourceSystemID desc","SourceSystemName","SourceSystemName desc"]}}},{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ChangeType","ChangedByMemberID","ChangedByMemberKey","ChangedByMemberKeyNumeric","ClassName","FieldKey","FieldKeyNumeric","FieldName","HistoryTransactionalKey","HistoryTransactionalKeyNumeric","ModificationTimestamp","NewValue","OriginatingSystemHistoryKey","OriginatingSystemID","OriginatingSystemName","PreviousValue","ResourceName","ResourceRecordID","ResourceRecordKey","ResourceRecordKeyNumeric","SourceSystemHistoryKey","SourceSystemID","SourceSystemName"]}}},{"name":"$expand","description":"Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","ChangedByMember","OriginatingSystem","SourceSystem"]}}}],"responses":{"200":{"description":"Retrieved entities","content":{"application/json":{"schema":{"type":"object","title":"Collection of HistoryTransactional","properties":{"@odata.count":{"$ref":"#/components/schemas/count"},"value":{"type":"array","items":{"$ref":"#/components/schemas/org.reso.metadata.HistoryTransactional"}}}}}}},"4XX":{"$ref":"#/components/responses/error"}}}},"/Property('{ListingKey}')/Media":{"parameters":[{"description":"key: ListingKey","in":"path","name":"ListingKey","required":true,"schema":{"type":"string","maxLength":255,"nullable":true}}],"get":{"summary":"Get entities from related Media","tags":["Property"],"parameters":[{"$ref":"#/components/parameters/top"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/search"},{"name":"$filter","description":"Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/count"},{"name":"$orderby","description":"Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ChangedByMemberID","ChangedByMemberID desc","ChangedByMemberKey","ChangedByMemberKey desc","ChangedByMemberKeyNumeric","ChangedByMemberKeyNumeric desc","ClassName","ClassName desc","ImageHeight","ImageHeight desc","ImageOf","ImageOf desc","ImageSizeDescription","ImageSizeDescription desc","ImageWidth","ImageWidth desc","LongDescription","LongDescription desc","MediaCategory","MediaCategory desc","MediaHTML","MediaHTML desc","MediaKey","MediaKey desc","MediaKeyNumeric","MediaKeyNumeric desc","MediaModificationTimestamp","MediaModificationTimestamp desc","MediaObjectID","MediaObjectID desc","MediaStatus","MediaStatus desc","MediaType","MediaType desc","MediaURL","MediaURL desc","ModificationTimestamp","ModificationTimestamp desc","Order","Order desc","OriginatingSystemID","OriginatingSystemID desc","OriginatingSystemMediaKey","OriginatingSystemMediaKey desc","OriginatingSystemName","OriginatingSystemName desc","Permission","Permission desc","PreferredPhotoYN","PreferredPhotoYN desc","ResourceName","ResourceName desc","ResourceRecordID","ResourceRecordID desc","ResourceRecordKey","ResourceRecordKey desc","ResourceRecordKeyNumeric","ResourceRecordKeyNumeric desc","ShortDescription","ShortDescription desc","SourceSystemID","SourceSystemID desc","SourceSystemMediaKey","SourceSystemMediaKey desc","SourceSystemName","SourceSystemName desc"]}}},{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ChangedByMemberID","ChangedByMemberKey","ChangedByMemberKeyNumeric","ClassName","ImageHeight","ImageOf","ImageSizeDescription","ImageWidth","LongDescription","MediaCategory","MediaHTML","MediaKey","MediaKeyNumeric","MediaModificationTimestamp","MediaObjectID","MediaStatus","MediaType","MediaURL","ModificationTimestamp","Order","OriginatingSystemID","OriginatingSystemMediaKey","OriginatingSystemName","Permission","PreferredPhotoYN","ResourceName","ResourceRecordID","ResourceRecordKey","ResourceRecordKeyNumeric","ShortDescription","SourceSystemID","SourceSystemMediaKey","SourceSystemName"]}}}],"responses":{"200":{"description":"Retrieved entities","content":{"application/json":{"schema":{"type":"object","title":"Collection of Media","properties":{"@odata.count":{"$ref":"#/components/schemas/count"},"value":{"type":"array","items":{"$ref":"#/components/schemas/org.reso.metadata.Media"}}}}}}},"4XX":{"$ref":"#/components/responses/error"}}}},"/Property('{ListingKey}')/SocialMedia":{"parameters":[{"description":"key: ListingKey","in":"path","name":"ListingKey","required":true,"schema":{"type":"string","maxLength":255,"nullable":true}}],"get":{"summary":"Get entities from related SocialMedia","tags":["Property"],"parameters":[{"$ref":"#/components/parameters/top"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/search"},{"name":"$filter","description":"Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/count"},{"name":"$orderby","description":"Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ClassName","ClassName desc","ModificationTimestamp","ModificationTimestamp desc","ResourceName","ResourceName desc","ResourceRecordID","ResourceRecordID desc","ResourceRecordKey","ResourceRecordKey desc","ResourceRecordKeyNumeric","ResourceRecordKeyNumeric desc","SocialMediaKey","SocialMediaKey desc","SocialMediaKeyNumeric","SocialMediaKeyNumeric desc","SocialMediaType","SocialMediaType desc","SocialMediaUrlOrId","SocialMediaUrlOrId desc"]}}},{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ClassName","ModificationTimestamp","ResourceName","ResourceRecordID","ResourceRecordKey","ResourceRecordKeyNumeric","SocialMediaKey","SocialMediaKeyNumeric","SocialMediaType","SocialMediaUrlOrId"]}}}],"responses":{"200":{"description":"Retrieved entities","content":{"application/json":{"schema":{"type":"object","title":"Collection of SocialMedia","properties":{"@odata.count":{"$ref":"#/components/schemas/count"},"value":{"type":"array","items":{"$ref":"#/components/schemas/org.reso.metadata.SocialMedia"}}}}}}},"4XX":{"$ref":"#/components/responses/error"}}}},"/Property('{ListingKey}')/OpenHouse":{"parameters":[{"description":"key: ListingKey","in":"path","name":"ListingKey","required":true,"schema":{"type":"string","maxLength":255,"nullable":true}}],"get":{"summary":"Get entities from related OpenHouse","tags":["Property"],"parameters":[{"$ref":"#/components/parameters/top"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/search"},{"name":"$filter","description":"Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/count"},{"name":"$orderby","description":"Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["AppointmentRequiredYN","AppointmentRequiredYN desc","ListingId","ListingId desc","ListingKey","ListingKey desc","ListingKeyNumeric","ListingKeyNumeric desc","ModificationTimestamp","ModificationTimestamp desc","OpenHouseAttendedBy","OpenHouseAttendedBy desc","OpenHouseDate","OpenHouseDate desc","OpenHouseEndTime","OpenHouseEndTime desc","OpenHouseId","OpenHouseId desc","OpenHouseKey","OpenHouseKey desc","OpenHouseKeyNumeric","OpenHouseKeyNumeric desc","OpenHouseRemarks","OpenHouseRemarks desc","OpenHouseStartTime","OpenHouseStartTime desc","OpenHouseStatus","OpenHouseStatus desc","OpenHouseType","OpenHouseType desc","OriginalEntryTimestamp","OriginalEntryTimestamp desc","OriginatingSystemID","OriginatingSystemID desc","OriginatingSystemKey","OriginatingSystemKey desc","OriginatingSystemName","OriginatingSystemName desc","Refreshments","Refreshments desc","ShowingAgentFirstName","ShowingAgentFirstName desc","ShowingAgentKey","ShowingAgentKey desc","ShowingAgentKeyNumeric","ShowingAgentKeyNumeric desc","ShowingAgentLastName","ShowingAgentLastName desc","ShowingAgentMlsID","ShowingAgentMlsID desc","SourceSystemID","SourceSystemID desc","SourceSystemKey","SourceSystemKey desc","SourceSystemName","SourceSystemName desc"]}}},{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata
[...]
